@using FinalEcormer2023.Models;
@model IEnumerable<FinalEcormer2023.ViewModels.CategoryProductCountViewModel>

@{
    ViewData["Title"] = "CategoryProductCountViewModel";

    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@section MainContent {
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4 mb-4">Product Statistics</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    List of products listed by category
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <vc:search-bar Search-Pager="@ViewBag.SearchPager"></vc:search-bar>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive"> 
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="text-align: center; vertical-align: middle;">Category Id</th>
                                    <th style="text-align: center; vertical-align: middle;">Category Name</th>
                                    <th style="text-align: center; vertical-align: middle;">Product Quantity</th>
                                    <th style="text-align: center; vertical-align: middle;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle;">@Html.DisplayFor(modelItem => item.CategoryId)</td>
                                        <td style="text-align: center; vertical-align: middle;">@Html.DisplayFor(modelItem => item.CategoryName)</td>
                                        <td style="text-align: center; vertical-align: middle;">@Html.DisplayFor(modelItem => item.ProductQuantity)</td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <button class="btn btn-secondary" onclick="location.href='@Url.Action("ProductByCategory", "Admin", new { id = item.CategoryId })'"><i class="fa-solid fa-circle-info"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <vc:page-divide Page-Divide="@ViewBag.PageDivide">
            </vc:page-divide>
        </div>
    </main>
}
